nav
	background-color: $primary-color
	.navbar-brand, .nav-link
		color: $font-color-white
		#logo
			display: none
	.nav-active
		padding: 1px 10px
		background: rgba(104, 70, 119, 1)
		border-radius: 10px
		& a
			color: rgba(255, 207, 45, 1)
	.navbar-nav
		margin-left: auto
		gap: 1.5rem
	