html
	box-sizing: border-box
	height: 100%
body
	display: flex
	flex-direction: column
	font-size: 16px
	line-height: 1.2
	height: 100%

*
	box-sizing: border-box
*::after,
*::before
	box-sizing: inherit

nav
	margin-bottom: 20px

.icon
	transition: filter .8 ease
	cursor: pointer
.icon:hover
	filter: sepia(1) saturate(4) hue-rotate(10deg) brightness(1.1) contrast(1)

@import './base/variables'
@import './base/mixins'
@import './base/default'
@import './base/checkbox'
@import 'patterns'
@import 'header'
@import 'sidebar'
@import './section/content'
@import './section/premiumFeatures'
@import 'footer'
@import './media/media'
